
body{
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.carousel-box{
  background-color: #FEEAE9;
}
.right-content{
  max-width: 400px;
  max-height: 400px;
  margin-left: auto;
}


.btn-pink{
  position: relative;
  z-index: 10;
  background:#FA0866;
}


.price{
  color: #FA0866;
}

.category--watch{
  background-color:#FF9C35 ;
}

.category--bag{
  background:#FA0866;
}
.category--shoes{
  background:#3F07F8;
}
.card{
  min-height: 25rem;
}
/*  */

.contact{
  background-color: #FEEAE9;
}