
body{
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.carousel-box{
  background-color: #FEEAE9;
}

.btn-pink{
  background-image: linear-gradient(#FA0866,#FF589B);
  color: #fff;
  font-size: 1.3rem;
}


.price{
  color: #FA0866;
}

.category--watch{
  background-image: linear-gradient(#FF9C35,#FFD019) ;
}

.category--bag{
  background-image: linear-gradient(#FA0866,#FF589B);
}
.category--shoes{
  background-image: linear-gradient(#4289FF,#3F07F8);
}

.card{
  min-height: 25rem;
}

.contact{
  background-color: #FEEAE9;
}